{% extends "base.html" %}

{% block title %}
    Энциклопедия Devman
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><a href="index.html">Главная</a></li>
{% endblock %}

{% block content %}
    <ul>
        {% for topic in topics %}
        <li>
            {{ topic.title }}
            <ul>
                {% for article in topic.articles %}
                <li><a href="{{ article.url }}">{{ article.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
